@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
:root {
    --mainColor: #ff9800;
}

@keyframes example {
  0%   {background: radial-gradient(#2ea19f, #53c696);}
  25%  {background: radial-gradient(#27b5b2, #2bc585);}
  50%  {background: radial-gradient(#10bebb, #0bd682);}
  75%  {background: radial-gradient(#0dd5d2, #09e489);}
  100% {background: radial-gradient(#09e2deea, #0adf87);}
}

@keyframes example2 {
  0%    {background: radial-gradient(#2ea19f, #53c696);}
  10%   {background: radial-gradient(#27b5b2, #2bc585);}
  20%   {background: radial-gradient(#10bebb, #0bd682);}
  30%   {background: radial-gradient(#19bfbceb, #09e489);}
  40%   {background: radial-gradient(#17b8b6, #0adf87);}
  50%   {background: radial-gradient(#14b7bd, #0fd682);}
  60%   {background: radial-gradient(#1ac6ce, #12db8f);}
  70%   {background: radial-gradient(#1edcdc, #1de7a4);}
  80%   {background: radial-gradient(#20e0eae0, #1ef387);}
  90%   {background: radial-gradient(#22e9e6e9, #21ee8e);}
  100%  {background: radial-gradient(rgba(34, 233, 230, 0.914), #21ee8e);}
}

@keyframes pulse {
  0% {
    background: radial-gradient(circle, #ff5733, transparent);
    transform: scale(1);
  }
  50% {
    background: radial-gradient(circle, #ff5733, transparent);
    transform: scale(1.2);
  }
  100% {
    background: radial-gradient(circle, #ff5733, transparent);
    transform: scale(1);
  }
}

  body {
    margin: 0;
    font-weight: 100;
    height: auto;
    background: radial-gradient(#329d9c, #56c596);
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
    
}  

 /* body{
  background: radial-gradient(#329d9c, #56c596);
  animation-name: example2;
  animation-duration: 4s;
  animation-timing-function: ease-in-out; 
  animation-iteration-count: infinite;
  animation-direction: alternate;
}  */

 
h1{
  margin-top: 15%;
  margin-right: 25%;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px #6157c6;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.25;
  font-weight: 700; 
  margin-left: 25px;
}

.skill-heading{
  margin-top: 30%;
  /*margin-bottom: 1px; */
  margin-right: 1%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px #2514e2;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.0;
  font-weight: 700; 
  font-size: 36px;
  
}

/* Define the number of columns and column gap */
.column-paragraph {
  column-count: 3; /* Three columns */
  column-gap: 20px; /* Adjust the gap between columns */
}

/* Style the paragraphs inside the columns */
.column-paragraph p {
  margin: 10px; /* Remove default margins for paragraphs */
  padding: 20px; /* Add some padding for spacing */
  padding-top: 10px;
  border: 0px solid #ff0000; /* border for clarity */
  overflow: auto;
  align-items: center;
  text-align: center;
  font-weight: 700; 
  font-size: 18px;
  line-height: 1.75;
  
}


.list-heading{
  margin-top: 0%;
  margin-right: 0%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px #6157c6;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 2.0;
  font-weight: 700; 
  font-size: 24px; /* Change the font size */
  margin-bottom: 0px;
 
}

/* .listed {
  text-align: center;
  font-weight: bold; 
  font-size: 18px;
  line-height: 1.5;
} */

h2{
  margin-left: 25px;

}

.Projects {
  margin-right: 0%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px; 
  margin-bottom: 200px;
  margin-top: 0px;


}

.fade-in-reg {
  opacity: 0;
  transition: opacity 1s ease;
}

.fade-in-image {
  animation: fadeIn 4s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* .carousel {
  display:flex;
  overflow: visible;
  width: 90%;
  height: 100%; 
  margin: 0 auto; 
  text-align: center;

}

.carousel-container {
  width: 50%;
  margin-bottom: 100px;
  text-align: center;
}

.carousel p {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  position:relative;
  bottom: 0;
  width: 90%;
  margin: 0;
} */

.carousel-container {
  display: flex;
  overflow: hidden;
}

.carousel-item {
  flex: 0 0 100%;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #48404067;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.carousel-item img {
  max-width: 100%;
  max-height: 200px;
  margin-bottom: 10px;
  align-items: center;
}

.next-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #0056b3;
}

.arrow-prev, .arrow-next {
  padding: 10px 10px;
  background-color: #f1f3f658;
  position: relative;
  height: 50px;
  right:90%;
  border-color: #e9e9e900;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%; 
  width: 50px;
  max-width: 50px;
  display: inline-block;
  font-weight: 900;
  font-size:x-large;
  align-items: center;
  text-align: center;
  line-height: 0px;

/* 
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #cd1b1b;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none; */
}

.arrow-next {
  right:12%;
  top:50px; 
}

.arrow-prev {
  right:92%;
  top:50px; 

}

.carousel-dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #007bff;
}

footer { 
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #f6e5e5;
  padding: 10px;
  display: flex;
  justify-content:center;
  align-items: bottom;
  
}

.footer-links {
  display: flex;
  gap: 25px;
  justify-content: center;
  
}

.footer-links a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  

}

.footer-links a2 {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-family:Arial, Helvetica, sans-serif;

}


.round-button {
  display: inline-block;
  padding: 10px 10px; /* Adjust padding for button size */
  border-radius: 10%; /* Makes the button round */
  background-color: #2ea19f; /* Button background color */
  background-color: #333;
  color: #ffffff; /* Text color */
  text-decoration: none; /* Remove underlines from the link */
  font-weight: bold; /* Optional: Adjust text weight */
  transition: background-color 0.3s ease; /* Smooth background color transition */

  /* Center the icon and text */
  display: flex;
  align-items: center;
}

.round-button:hover {
  background-color: #53c696; /* Change background color on hover */
  
}

/* Adjust the FontAwesome icon size (you may need to adjust this based on your specific use) */
.round-button .fa {
  font-size: 24px; /* Adjust icon size */
  margin-right: 0px; /* Add spacing between icon and text */
}


/*  .itch {
  color: #fff;
  display:inline-block;
  width: 40%;
}  */